[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-ckeditor = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.8"
